.back_button {
  width: 100%;
}

.detail_card {
  font-family: Roboto;
  width: 300px;
  margin-bottom: 20px;
  .detail_item {
    margin: 4px;
    display: flex;
    justify-content: space-between;
  }
  .detail_item_key {
    font-weight: 500;
    margin-left: 5px;
  }
  .detail_item_value {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.detail_card_container {
  margin-right: 30px;
  margin-bottom: 20px;
}

.table_container {
  padding-top: 30px;
  max-width: 400px;
}

.page_container {
  flex-wrap: wrap;
  display: flex;
}
